In [1]:
import pandas as pd
import sklearn a

In [20]:
ex3_df = pd.read_csv('ex3.csv')
ex3_df.head()

   INTENSIVE  NEWSITEID  RISK10YRS  ...  STATIN  SBPTERTILE  EVENT_PRIMARY
0    Regular       74.0  29.732061  ...    True           3          False
1    Regular        8.0  29.677619  ...    True           2          False
2  Intensive       25.0  17.443819  ...   False           2          False
3    Regular       96.0   8.627849  ...   False           1          False
4  Intensive       42.0  23.751437  ...   False           1          False

[5 rows x 30 columns]

In [21]:
y = 'EVENT_PRIMARY' #died or not

In [22]:
ex3_df[ex3_df.isna().any(axis=1)]

      INTENSIVE  NEWSITEID  RISK10YRS  ...  STATIN  SBPTERTILE  EVENT_PRIMARY
8       Regular        NaN  16.858319  ...    True           2          False
90    Intensive        NaN  11.015060  ...   False           2          False
129   Intensive        NaN  19.294181  ...   False           3          False
137   Intensive        NaN  15.915526  ...   False           3          False
138   Intensive        NaN  28.656243  ...    True           3          False
...         ...        ...        ...  ...     ...         ...            ...
8633  Intensive        NaN  19.100400  ...    True           2          False
8635  Intensive        NaN  54.853468  ...    True           3          False
8698  Intensive        NaN  11.566124  ...    True           3          False
8719  Intensive        NaN  20.037953  ...    True           2          False
8726  Intensive        NaN  14.415074  ...    True           1          False

[465 rows x 30 columns]

In [23]:
ex3_filled_df = ex3_df.fillna(ex3_df.mean())
ex3_filled_df.head()

   INTENSIVE  NEWSITEID  RISK10YRS  ...  STATIN  SBPTERTILE  EVENT_PRIMARY
0    Regular       74.0  29.732061  ...    True           3          False
1    Regular        8.0  29.677619  ...    True           2          False
2  Intensive       25.0  17.443819  ...   False           2          False
3    Regular       96.0   8.627849  ...   False           1          False
4  Intensive       42.0  23.751437  ...   False           1          False

[5 rows x 30 columns]

In [ ]:
# scale data

In [24]:
#lin  classifier
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

      NEWSITEID  RISK10YRS  INCLUSIONFRS  ...  STATIN  SBPTERTILE  EVENT_PRIMARY
0          74.0  29.732061          True  ...    True           3          False
1           8.0  29.677619          True  ...    True           2          False
2          25.0  17.443819          True  ...   False           2          False
3          96.0   8.627849         False  ...   False           1          False
4          42.0  23.751437          True  ...   False           1          False
...         ...        ...           ...  ...     ...         ...            ...
8741      102.0  10.896486         False  ...    True           2          False
8742       98.0   8.646088         False  ...    True           1          False
8743       99.0  24.191491          True  ...    True           2          False
8744       15.0  20.354619          True  ...   False           3          False
8745       74.0   7.459888         False  ...    True           3          False

[8746 rows x 28 columns]

In [25]:
# scale
scaler = StandardScaler()

num_d = ex3_filled_df.select_dtypes(exclude=['object'])

# update the cols with their normalized values
ex3_filled_df[num_d.columns] = scaler.fit_transform(num_d)

# convert string variable to One Hot Encoding
ex3_filled_df = pd.get_dummies(ex3_filled_df)



ex3_filled_df.head()

   NEWSITEID  RISK10YRS  INCLUSIONFRS  ...  RACE4_HISPANIC  RACE4_OTHER  RACE4_WHITE
0   0.628158   0.884294      0.785833  ...               0            0            1
1  -1.652368   0.879273      0.785833  ...               0            0            1
2  -1.064960  -0.249010      0.785833  ...               0            0            1
3   1.388333  -1.062078     -1.272536  ...               0            0            1
4  -0.477552   0.332721      0.785833  ...               0            0            1

[5 rows x 34 columns]

In [ ]:
clf = make_pipeline(StandardScaler(),SGDClassifier(max_iter=1000, tol=1e-3))
clf.fit(X, Y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdclassifier', SGDClassifier())])
print(clf.predict([[-0.8, -1]]))